<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">


      <!-- .title_content -->
      <div class="title_content" style="float: none;">
          <div class="text_content">Programming Skills</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->

      <div class="skills">
          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="70%">
              <div class="skillbar-title"><span>C++</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">70%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title"><span>C</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">60%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="50%">
              <div class="skillbar-title"><span>Git</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">50%</div>
          </div>
          <!-- /.skillbar -->

           <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="50%">
              <div class="skillbar-title"><span>Php</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">50%</div>
          </div>
          <!-- /.skillbar -->

           <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="30%">
              <div class="skillbar-title"><span>Python</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">30%</div>
          </div>
          <!-- /.skillbar -->

           <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="30%">
              <div class="skillbar-title"><span>Java/JavaFX</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">30%</div>
          </div>
          <!-- /.skillbar -->
      </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>

            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Premiere</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>After effects</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>




        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Team Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Public Speaking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Teamwork<span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->


            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Leadership</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Problem Solving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
		</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Gaming</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Italian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Russian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Video Editor,Team Leader <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> ITIS Volta, Lodi</h6>
                <p>Created the project video for the EXPO School competiton, and presented the project at the finals.</p>
            </li>
            <li>
                <h5>Internship <span class="duration"><i class="fa fa-calendar color"></i> 2015/2016</span></h5>
                <h6><span class="fa fa-briefcase"></span>PA DIGITALE, Lodi</h6>
                <p>Implemented and documented external frameworks for subsequent internal use.</p>
            </li>

            <li>
                <h5>Freelance <span class="duration"><i class="fa fa-calendar color"></i>2016-current</span></h5>
                <h6><span class="fa fa-briefcase"></span></h6>
                <p>Created an SDK in C++ for an external bluetooth motion controller. </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Computer Science degree <span class="duration"><i class="fa fa-calendar color"></i> 2016 - Current</span></h5>
                <h6><span class="fa fa-book"></span> Unibo, Bologna</h6>
                <p>Enrolled in a 3 year long degree. Average mark: 26</p>
            </li>
            <li>
                <h5>B2 Certificate <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                <h6><span class="fa fa-book"></span> Cambridge</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>


          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Entrepreneurship<span class="duration"><i class="fa fa-calendar color"></i> 2014/2015</span></h5>
                <h6><span class="fa fa-trophy"></span> Impresa in azione</h6>
                <p>Two times finalist at the young entrepreneurship competition hosted by Junior Achievement Italy.The competition tasked its partecipants with creating a product idea and then following it trough release and then selling it </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>


<!-- client reference -->
<div class="row">
<div class="col-md-12">
    
</div>


<div style="clear: both"></div>
</div>

</div>
<!-- End .resume -->
